
//Colors
$blue:					#15a3d7;	//Brand blue
$red: 					#ee3043;	//Brand red

$lines-grey: #C1C1C1;

$text-grey: 			#646464;	//Primary text grey
$text-grey-med:			#888888;
$text-grey-light:		#9a9a9a;

$background:			#FFF;		//Page background
$background-grey-light:	#f7f7f7;	//Light grey panel backgrounds


//Layout Dimensions
$pad:		30px;
$pad-half:	$pad/2;